# WSL2 での GUI 表示用 volumes 設定 launch(headless=True) の際は不要のため、環境変数は未指定にする
X11_UNIX_PATH=/tmp/.X11-unix
WSLG_PATH=/mnt/wslg

# WSL2 でブラウザを表示するために必要 launch(headless=True) の際は不要のため、環境変数は未指定にする
DISPLAY=:0
WAYLAND_DISPLAY=wayland-0
XDG_RUNTIME_DIR=/mnt/wslg/runtime-dir
PULSE_SERVER=unix:/mnt/wslg/PulseServer

